/**************************************************************/
/********************** FONT RESIZER CSS **********************/
/**************************************************************/

.font_resizer {
	color: yellow;
	background: red;
	position: fixed;
	bottom: 50px;
	right: 30px;
	padding: .5em .5em 0 .5em;
	border: 1px solid black;
	border-radius: 0.8em;
}

.font_resizer button {
	color: black;
}

.center-block {
	float: none;
}