/**************************************************************/
/*************************** MAIN CSS *************************/
/**************************************************************/

body {
	background-image: url("../images/wallpaper.jpg");
}

img {
	border-radius: .8em;
	border: 1px solid yellow;
}

#demo,
.demoHeaders {
	font-family: Verdana, Arial, 'sans-serif';
	color: white;
	text-align: center;
}
